<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/eroare.css" type="text/css">
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>