<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <p><%- locals.ip %></p>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid">
            <section id="welcome">
                <h2>Bine ati venit!</h2>
                <p class="intro"><span>Bine ați venit pe <b>4Sale</b>, destinația ideală pentru cei care caută cele mai
                        noi și performante electronice și electrocasnice! Ne dedicăm să vă oferim produse de calitate,
                        de la branduri de top, pentru a transforma fiecare moment petrecut acasă într-o experiență unică
                        și confortabilă. <br>
                        Indiferent dacă sunteți în căutarea unui televizor ultramodern, a unui frigider eficient sau a
                        unor gadgeturi inovatoare, aici găsiți soluțiile perfecte pentru nevoile și preferințele dvs.
                        Navigați prin oferta noastră variată și bucurați-vă de prețuri competitive, livrare rapidă și
                        suport dedicat. <br>
                        Echipa 4Sale este aici pentru a vă ghida la fiecare pas, astfel încât să faceți cele mai bune
                        alegeri pentru casa dvs. <br>
                        Suntem cea mai mare companie de pe piata! Suntem mult mai buni decat <a
                            href="https://www.emag.ro/" target="_blank">eMAG</a>! <br>
                        Gasiti produsele mai jos: <br>
                    </span></p>
            </section>

            <section id="apple">
                <h3>Apple</h3>
                <img src="/resurse/img/iph15.jpg" alt="iph15" width="30%" title="iphone 15 pro" id="iph">
                <img src="/resurse/img/bmp.jpg" alt="macbookpro" width="30%" id="mac">
                <img src="/resurse/img/ipad.jpg" alt="ipad" width="30%" id="ipad">
                <p><span>Descoperiți gama Apple la 4Sale, locul unde tehnologia de vârf întâlnește designul elegant și
                        performanța impecabilă. Fie că sunteți interesat de cel mai recent iPhone, de puterea unui
                        MacBook Pro, sau de versatilitatea unui iPad, avem tot ce vă trebuie pentru a vă îmbunătăți
                        viața de zi cu zi. <br>
                        iPhone-ul aduce inovații în fotografie, conectivitate 5G și securitate, oferind o experiență de
                        utilizare rapidă și intuitivă. MacBook-urile sunt ideale pentru productivitate și creativitate,
                        integrate cu procesoare puternice și ecrane Retina uimitoare.<br>
                        <br>
                        La 4Sale, suntem dedicați să vă oferim cea mai bună experiență Apple, de la performanță până la
                        suport personalizat.</span>
                    <br>
                    <strong>Grabiti-va!</strong> Avem reduceri de <s>5%</s><ins>10%</ins>!
                </p>
            </section>

            <section id="samsung">
                <h3>Samsung</h3>
                <figure id="samsung_fig">
                    <picture>
                        <source media="(max-width:600px)" srcset="/resurse/img/swatch.jpg">
                        <source media="(max-width:1000px)" srcset="/resurse/img/s24.jpg">
                        <img src="/resurse/img/sm_tv.jpg" alt="Smart tv" class="imag">
                    </picture>
                    <figcaption>Produse Samsung</figcaption>
                </figure>

                <p>
                    La 4Sale, am creat un loc unde găsești cele mai noi produse Samsung, de la telefoane și tablete la
                    gadget-uri smart care să îți îmbunătățească viața de zi cu zi. Avem pe stoc modele populare precum
                    Galaxy S23, Galaxy Tab S9, și ceasurile Galaxy Watch 6, toate la prețuri competitive. Ne asigurăm că
                    fiecare produs este original, livrat rapid și însoțit de garanție, pentru ca tu să te bucuri de o
                    experiență de cumpărare fără griji. De ce să alegi 4Sale? Pentru că îți oferim asistență completă și
                    consiliere personalizată, astfel încât să găsești exact ce ți se potrivește. La noi, nu ești doar un
                    client, ci parte din comunitatea noastră, unde satisfacția ta este pe primul loc.
                </p>
                <div class="container_iframe">
                    <div class="taburi_iframe">
                        <a href="https://www.youtube.com/embed/3hPoEmlBQdY?si=ge9cYPEwejX1cxk1"
                            target="ifr-video">Galaxy S24</a>
                        <a href="https://www.youtube.com/embed/6FgmaRtm2Bw?si=X_G99XdRfNYlDjiS" target="ifr-video">Smart
                            TV</a>
                        <a href="https://www.youtube.com/embed/n9rUz9o_m0w?si=2m31JsktX6eJ_Hjr"
                            target="ifr-video">Galaxy Tab S10</a>
                    </div>
                    <iframe name="ifr-video" width="560" height="315"
                        src="https://www.youtube.com/embed/6FgmaRtm2Bw?si=X_G99XdRfNYlDjiS" title="ifr-video"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>

            <section id="huawei">
                <h3>Huawei</h3>
                <p>
                    La 4Sale, găsești o gamă variată de produse Huawei de ultimă generație, de la telefoane inteligente
                    la laptopuri și accesorii de top. Printre cele mai populare modele se numără Huawei P60 Pro, tableta
                    MatePad 11 și ceasul Watch GT 4, toate disponibile la prețuri excelente. Alegând 4Sale, te bucuri de
                    produse originale, livrare rapidă și suport profesional, pentru ca experiența ta de cumpărare să fie
                    simplă și plăcută. La noi, ai siguranța că fiecare produs vine cu garanție și consultanță gratuită,
                    astfel încât să iei cea mai bună decizie. La 4Sale, clienții noștri sunt pe primul loc!
                </p>
            </section>

            <section id="sony">
                <h3>Sony</h3>
                <p>
                    La 4Sale, îți aducem tehnologia de top de la Sony, recunoscută pentru calitate și inovație. Găsești
                    la noi o selecție variată de produse Sony, inclusiv smartphone-uri Xperia, televizoare Bravia cu
                    rezoluție 4K uimitoare, și căștile wireless Sony WH-1000XM5, toate disponibile la prețuri
                    avantajoase. Fiecare produs este original, livrat rapid și însoțit de garanție, pentru ca tu să te
                    bucuri de o experiență de cumpărare în siguranță. La 4Sale, oferim suport dedicat pentru a te ajuta
                    să alegi produsul Sony potrivit, fie că ești pasionat de fotografie, divertisment sau muzică de
                    calitate. Alătură-te comunității noastre și profită de avantajele pe care le oferim!
                </p>
            </section>

            <section id="orar">
                <table id="tab_orar">
                    <thead>
                        <tr>
                            <th>Perioada</th>
                            <th>Zi</th>
                            <th>Interval dimineta</th>
                            <th>Pauza masa</th>
                            <th>Interval seara</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td rowspan="5" class="no-shadow">Zile <br>lucratoare</td>
                            <td>Luni</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>

                        <tr>
                            <td>Marti</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>

                        <tr>
                            <td>Miercuri</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>

                        <tr>
                            <td>Joi</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>

                        <tr>
                            <td>Vineri</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="5">Programul poate varia de sarbatori!</td>
                        </tr>
                    </tfoot>
                </table>
            </section>

            <section id="promotii">
                 <% 
                    let dataProm=new Date(); 
                    let vectorLuniProm=["ianuarie", "februarie" , "martie" , "aprilie" , "mai", 
                                    "iunie" , "iulie" , "august" , "septembrie" , "octombrie" , "noiembrie" , "decembrie" ]; 

                    let lunaProm=vectorLuniProm[dataProm.getMonth()];
                    let an = dataProm.getFullYear() %>
                <h3>Promotiile lunii <br> <%- lunaProm %> <%- an %></h3>
                
                <p><span>Doar luna aceasta, la 4Sale.ro, beneficiezi de 15% reducere la toate produsele Samsung și Huawei! Fie că visezi la un smartphone premium, o tabletă performantă sau accesorii inovatoare, acum e momentul să le cumperi. Stocurile sunt limitate, iar oferta expiră la finalul lunii! Comandă acum și bucură-te de calitate la prețuri imbatabile. Intră pe 4Sale.ro și profită de reducerea de 15%. Grăbește-te și prinde cele mai bune oferte!</span></p>
            </section>

            <section id="info">
                <h2>Informatii</h2>
                <details>
                    <summary>Cand pot gasi produse la pret redus?</summary>
                    <p>De Black Friday</p>
                </details>
                <details>
                    <summary>Se poate face retur?</summary>
                    <p>Da!</p>
                </details>
                <details>
                    <summary>Ce garantie au produsele?</summary>
                    <p>Garantia este in fuctie de produs</p>
                </details>
                <details>
                    <summary>Care este cel mai vandut produs?</summary>
                    <p>iPhone 15</p>
                </details>
                <details>
                    <summary>Toate produsele care se vand sunt noi?</summary>
                    <p>NU! Avem si produse resigilate, marcate ca atare.</p>
                </details>


            </section>

            <section id="galerie-statica">
                <h2>Galerie</h2>
                <div id="grid-galerie">
                    <% 
                    let data = new Date(); 
                    let vectorLuni = ["ianuarie", "februarie", "martie", "aprilie", "mai", 
                                      "iunie", "iulie", "august", "septembrie", "octombrie", "noiembrie", "decembrie"]; 
                
                    let luna = vectorLuni[data.getMonth()]; 
                    let count = 0; 
                
                    for (let imag of imagini) { 
                        if (count >= 8) break; // Dacă avem deja 6 imagini, ieșim din buclă
                
                        if (imag.luni && imag.luni.includes(luna)) { 
                            %>
                                <%- include("../fragmente/galerie.ejs", { imag: imag }) %>
                            <%
                            count++; 
                        } 
                    } 
                    %>
                </div>
                
            </section>
        </div>

    </main>

    <%- include("../fragmente/footer.ejs") %>

</body>

</html>