<head>
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <figure class="imag-produs">
                        <img  src="/resurse/img/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure> 
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> RON </span></p>
                    <p>Brand: <span class="brand"><%- locals.prod.brand %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Specificatii: <span class="specificatii"><%- locals.prod.specificatii %> </span></p>

                    <% 
                        const luni = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                        const zileSaptamana = ["Duminică", "Luni", "Marți", "Miercuri", "Joi", "Vineri", "Sâmbătă"];

                        let data = new Date(locals.prod.data_adaugare);
                        let zi = data.getDate();
                        let luna = luni[data.getMonth()];
                        let an = data.getFullYear();
                        let ziSaptamana = zileSaptamana[data.getDay()];
                        let dataFormatata = `${zi}-${luna}-${an} [${ziSaptamana}]`;
                    %>

                    <p>Data adăugare: 
                        <time datetime="<%- data.toISOString().split('T')[0] %>">
                            <%- dataFormatata %>
                        </time>
                    </p>  
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>